@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins" , sans-serif;
}
body
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	margin-top: 1%;
	background-image: url("../images/feedback-background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
}
.container
{
	position: relative;
	max-width: 850px;
	width: 50%;
	background: #ffffff;
	padding: 3% 2.5%;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	border-radius: 25px;
	height: 100%;
}
.form
{
	height: 150%;
	width: 100%;
	background: #ffffff;
	position: relative;
	word-wrap: break-word;
}
a:link
{
	color: black;
	background-color: transparent;
	text-decoration: none;
}
a:visited
{
	color: black;
	background-color: transparent;
	text-decoration: none;
}
a:hover
{
	color: #2600ff;
	background-color: transparent;
	text-decoration: none;
}
a:active
{
	color: #080074;
	background-color: transparent;
	text-decoration: none;
	transition: all 0.4 ease;
}
.title
{
	font-weight: 500;
	color: #333;
}
.input-box input
{
	height: 100%;
	width: 100%;
	margin-top: 2%;
	padding: 2% 1%;
	font-weight: 500;
	font-size: medium;
	text-align: left;
	outline: none;
	border: none;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	transition: all 0.3s ease;
}
.input-box .comment
{
	height: 100%;
	width: 100%;
	margin-top: 2%;
	padding: 70px 1%;
	padding-top: 1%;
	font-weight: 500;
	font-size: medium;
	text-align: left;
	resize: none;
	transition: all 0.3s ease;
}
.affirm
{
	font-weight: 500;
	font-size: large;
	color: #2600ff;
	padding-left: 2%;
}
.btn-form-submit
{
	margin-top: 2%;
	width: 100%;
	color: #ffffff;
	background: #2600ff;
	border-radius: 6px;
	border-color: #000000;
	padding: 1.5%;
	font-size: large;
	text-align: center;
	cursor: pointer;
	transition: all 0.4s ease;
}
.btn-form-submit:hover
{
	background: #080074;
}
.error
{
	visibility: hidden;
	color:white;
	transition: all 0.5s ease;
	font-size: medium;
	font-weight: 300;
}