@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins" , sans-serif;
}
body
{
	display: flex;
	align-content: center;
	justify-content: center;
}
.slideshow
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	animation-name: fading;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	z-index: -1;
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
@keyframes fading
{
	0%, 100%
	{
		background-image: url('../images/forms/background-slide1.jpg');
	}
	20%
	{
		background-image: url('../images/forms/background-slide2.jpg');
	}
	40%
	{
		background-image: url('../images/forms/background-slide3.jpg');
	}
	60%
	{
		background-image: url('../images/forms/background-slide4.png');
	}
	80%
	{
		background-image: url('../images/forms/background-slide5.jpg');
	}
}
.container
{
	display: flex;
	position: relative;
	max-width: 850px;
	width: 100%;
	background: #ffffff;
	padding: 40px 30px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	border-radius: 25px;
}
.cover
{
	position: absolute;
	top: 0;
	right: 50%;
	height: 100%;
	width: 50%;
	z-index: 98;
	transition: all 1s ease;
	transform-origin: left;
	transform-style: preserve-3d;
}
.back-btn
{
	position:absolute;
	z-index: 200;
	margin: 5%;
	font-size: x-large;
	font-weight: 400;
}
.click-back:link
{
	color: white;
	background-color: transparent;
	text-decoration: none;
}
.click-back:visited
{
	color: white;
	background-color: transparent;
	text-decoration: none;
}
.click-back:hover
{
	color: lightblue;
	background-color: transparent;
	text-decoration: none;
}
.click-back:active
{
	color: #080074;
	background-color: transparent;
	text-decoration: none;
	transition: all 0.4 ease;
}
.cover img
{
	position: absolute;
	z-index: 10;
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.headline
{
	position: absolute;
	z-index: 130;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 8%;
}
.headline-1,
.headline-2
{
	font-weight: 600;
	color: #fff;
	text-align: center;
}
.headline-2
{
	font-weight: 500;
}
.form
{
	margin-left: 54%;
}

.title
{
	font-weight: 500;
	color: #333;
}
.input-boxes
{
	margin-top: 30px;
}
.input-box
{
	display: flex;
	align-items: center;
	height: 50px;
	width: 100%;
	margin: 10px 0;
	position: relative;
}
.input-box input
{
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid
{
	border-color: #000000;
}
.error
{
	visibility: hidden;
	color:white;
	transition: all 0.5s ease;
	font-size: medium;
	font-weight: 300;
}
.button
{
	color: #ffffff;
	background: #2600ff;
	border-radius: 6px;
	padding: 0;
	cursor: pointer;
	transition: all 0.4s ease;
	display: block;
	font-size: large;
	font-weight: 500;
}
.button:hover
{
	background: #080074;
}
.text
{
	font-size: 14px;
	font-weight: 500;
	color: #333;
}
a
{
	text-decoration: none;
	color:#2600ff;
}
a:hover
{
	text-decoration: underline;
	color: #080074;
}